<!-- <video #videoPlayer width="1080" height="2340" autoplay controls role="presentation"role="presentation"></video> -->
<!-- <canvas id="mjpeg-canvas"></canvas> -->
<!-- <img #videoPlayer width="1080" height="2340" /> -->

<!-- video-display.component.html -->
<!-- <div>
    <video id="video" width="1080" height="2340" controls>
      Your browser does not support the video tag.
    </video>
  </div> -->
  

<div><button style=" color: red; height: 500px; width: 500px;" (click)="disconnectAll()">Disconnect</button></div>


<div style="color: green;"><button style=" color: green; height: 500px; width: 500px;" (click)="connectAll()">Connect</button></div>



<canvas id="canvas" style="border: 1px solid red;"></canvas>